@media screen and (max-width : 575px ) {
    #posts-container {
        width: 100% ;
        float: unset ;
        margin-right: unset ;
        margin-bottom: 50px ;
    }
    .article-thumbnail-container {
        display: block ;
        width: 100%  ;
    }
    .article-describe-container {
        display: block;
        width: 100%;
        left: unset;
        padding: 0 20px 16px 20px;
        box-sizing: border-box;
        text-align: justify;
        text-align-last: center;
    }
    .article-describe-container p {
        padding-left: unset ;
        margin: unset ;
        line-height: 32px ;
    }
}