#last-posts-aside {
}
#last-posts-aside-header-container {
    background-color: #f5715b;
    padding: 15px 18px ;
}
#last-posts-aside-header-container h3 {
    color: white ;
    margin: unset ;
}
#last-posts-aside-content-container {
    background-color: white;
}
#last-posts-aside-content-container ul {
    padding: unset ;
    margin: unset ;
    padding: 15px ;
}
#last-posts-aside-content-container ul li {
    list-style: none ;
    border-bottom: 2px solid #ececec;
}
#last-posts-aside-content-container ul li:last-child {
    border-bottom: unset ;
}
#last-posts-aside-content-container ul li a {
    display: block ;
    padding: 10px 0;
    text-decoration: none ;
    color: #656565;
}
#last-posts-aside-content-container ul li:first-child a {
    padding-top: unset ;
}
#last-posts-aside-content-container ul li:last-child a {
    padding-bottom: unset ;
}
