@media screen and (min-width : 993px) and (max-width : 1200px) {
    .slider-controller {
        width: 40px;
        height: 40px;
    }
    .slider-controller img {
        max-width: 100% ;
    }
}